[submodule "pywire"]
	path = pywire
	url = ../pywire.git
[submodule "pywire-language-server"]
	path = pywire-language-server
	url = ../pywire-language-server.git
[submodule "pywire.dev"]
	path = pywire.dev
	url = ../pywire.dev.git
[submodule "vscode-pywire"]
	path = vscode-pywire
	url = ../vscode-pywire.git
[submodule "tree-sitter-pywire"]
	path = tree-sitter-pywire
	url = ../tree-sitter-pywire.git
[submodule "examples"]
	path = examples
	url = ../examples.git
[submodule "create-pywire-app"]
	path = create-pywire-app
	url = ../create-pywire-app.git
[submodule "org.github"]
	path = org.github
	url = ../.github.git
[submodule "prettier-plugin-pywire"]
	path = prettier-plugin-pywire
	url = ../prettier-plugin-pywire.git
[submodule "pywire-parser"]
	path = pywire-parser
	url = ../pywire-parser.git
	