[submodule "pywire"]
	path = pywire
	url = ../pywire.git
[submodule "pywire-language-server"]
	path = pywire-language-server
	url = ../pywire-language-server.git
[submodule "pywire.dev"]
	path = pywire.dev
	url = ../pywire.dev.git
[submodule "vscode-pywire"]
	path = vscode-pywire
	url = ../vscode-pywire.git
[submodule "tree-sitter-pywire"]
	path = tree-sitter-pywire
	url = ../tree-sitter-pywire.git
[submodule "examples"]
	path = examples
	url = ../examples.git
[submodule ".github"]
	path = .github
	url = ../.github.git
